Docker/dockerfiles/nodered/flows.json
[
    {
        "id": "ff64d5752f28abe6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a63e92e18d711f00",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "50d3d0820441a368",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "a63e92e18d711f00",
                "1b095437f38976c6"
            ]
        ]
    },
    {
        "id": "a8b130a56f42a9c3",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "32761a0aeb54a920"
            ]
        ]
    },
    {
        "id": "6c4d45941dc449b2",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_01/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "2e59e9594c0c4e35"
            ]
        ]
    },
    {
        "id": "a1c662e2ba605b5b",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "c2e05d515eeb1d34"
            ]
        ]
    },
    {
        "id": "ebf0f5cf0a2298f0",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "44ceb748237f8e48"
            ]
        ]
    },
    {
        "id": "2a61bb824870b272",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "245c0b43b909381a"
            ]
        ]
    },
    {
        "id": "6c0dfcdd40ca222a",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_01/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "eeca6b46e9456a5b"
            ]
        ]
    },
    {
        "id": "2e59e9594c0c4e35",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 8,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "eeca6b46e9456a5b",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 7,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "32761a0aeb54a920",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71def4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1b095437f38976c6",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 9,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "25",
        "max": "45",
        "colors": [
            "#00f500",
            "#e6ff00",
            "#ca3838"
        ],
        "seg1": "37",
        "seg2": "38",
        "className": "",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "baa6b171520a30dc",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#a11df0",
            "#a4e5f2",
            "#71def4"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "c2e05d515eeb1d34",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "f3c1e6a039430860",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "baa6b171520a30dc"
            ]
        ]
    },
    {
        "id": "44ceb748237f8e48",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "f3c1e6a039430860",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "29e8308b5e15e955"
            ]
        ]
    },
    {
        "id": "245c0b43b909381a",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "f3c1e6a039430860",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "9680774a876af058"
            ]
        ]
    },
    {
        "id": "f1dbe1d0f0e302e4",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 40,
        "wires": []
    },
    {
        "id": "195c60471f385704",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "f1dbe1d0f0e302e4",
                "643c94eb6bea9887"
            ]
        ]
    },
    {
        "id": "3125d1cf16ffbb96",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "89dd12ba76435523"
            ]
        ]
    },
    {
        "id": "a3df5dc7b2828bc0",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_02/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "ff1da3e986053dc9"
            ]
        ]
    },
    {
        "id": "aca9edaee260e6d0",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "17abb3182538febe"
            ]
        ]
    },
    {
        "id": "530deeb0b392ad5d",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 320,
        "wires": [
            [
                "4ff51d2b615560d4"
            ]
        ]
    },
    {
        "id": "a74d9170f9b797bd",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "f12ca02a04329511"
            ]
        ]
    },
    {
        "id": "f6a6cd63b917d283",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_02/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "4bc894adccb40369"
            ]
        ]
    },
    {
        "id": "ff1da3e986053dc9",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 20,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 1490,
        "y": 440,
        "wires": []
    },
    {
        "id": "4bc894adccb40369",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 21,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "",
        "x": 1490,
        "y": 500,
        "wires": []
    },
    {
        "id": "89dd12ba76435523",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71def4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "643c94eb6bea9887",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 22,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "25",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "36",
        "seg2": "38",
        "className": "",
        "x": 1480,
        "y": 140,
        "wires": []
    },
    {
        "id": "9c49f0eed5762f71",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 1390,
        "y": 260,
        "wires": []
    },
    {
        "id": "d80509f78e51509c",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 10,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 1390,
        "y": 320,
        "wires": []
    },
    {
        "id": "195205d2d201bdf0",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 18,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 1390,
        "y": 380,
        "wires": []
    },
    {
        "id": "17abb3182538febe",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "7874dfd1b72253a8",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "9c49f0eed5762f71"
            ]
        ]
    },
    {
        "id": "4ff51d2b615560d4",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "7874dfd1b72253a8",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 1230,
        "y": 320,
        "wires": [
            [
                "d80509f78e51509c"
            ]
        ]
    },
    {
        "id": "f12ca02a04329511",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "7874dfd1b72253a8",
        "order": 27,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 1230,
        "y": 380,
        "wires": [
            [
                "195205d2d201bdf0"
            ]
        ]
    },
    {
        "id": "c7648e2c028dc6d9",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_03",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 780,
        "wires": []
    },
    {
        "id": "548f5c84ea65a76c",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 820,
        "wires": [
            [
                "c7648e2c028dc6d9",
                "2aec8ac3063dfeea"
            ]
        ]
    },
    {
        "id": "51bdc5878e3e8632",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 880,
        "wires": [
            [
                "4302509f97918a02"
            ]
        ]
    },
    {
        "id": "51f5484669d796b1",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_03/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1120,
        "wires": [
            [
                "1593572feb2fa849"
            ]
        ]
    },
    {
        "id": "1ef95dd19a546acc",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 940,
        "wires": [
            [
                "738a96aa6859bed8"
            ]
        ]
    },
    {
        "id": "1339edc656d7d1e4",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "128104a11f857119"
            ]
        ]
    },
    {
        "id": "7480a05057564cd6",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "1e86a8aeeeea7877"
            ]
        ]
    },
    {
        "id": "f36bd7223f0a497a",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_03/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "cb98fb62cf85bc7c"
            ]
        ]
    },
    {
        "id": "1593572feb2fa849",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 20,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 630,
        "y": 1120,
        "wires": []
    },
    {
        "id": "cb98fb62cf85bc7c",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 21,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "",
        "x": 630,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4302509f97918a02",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71dfe4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "2aec8ac3063dfeea",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 22,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "25",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "36",
        "seg2": "38",
        "className": "",
        "x": 620,
        "y": 820,
        "wires": []
    },
    {
        "id": "738a96aa6859bed8",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "35e8f16e89639508",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 940,
        "wires": [
            [
                "387a1752889dfc6b"
            ]
        ]
    },
    {
        "id": "128104a11f857119",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "35e8f16e89639508",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1000,
        "wires": [
            [
                "d86cf376143e4288"
            ]
        ]
    },
    {
        "id": "1e86a8aeeeea7877",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "35e8f16e89639508",
        "order": 27,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "fb4d8fbda2a76f6c"
            ]
        ]
    },
    {
        "id": "68a1f07bd586b20d",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_04",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 780,
        "wires": []
    },
    {
        "id": "c03c51e37b7f183d",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 820,
        "wires": [
            [
                "68a1f07bd586b20d",
                "214b72df4c1d2e9c"
            ]
        ]
    },
    {
        "id": "9a3d6fcef68ec923",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 880,
        "wires": [
            [
                "5092e22689c50bfe"
            ]
        ]
    },
    {
        "id": "e6f5ee2cf9286845",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_04/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 1120,
        "wires": [
            [
                "8b2db7c255c7bc23"
            ]
        ]
    },
    {
        "id": "f64e50ca00e6b8fb",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "6971b97ebfa1e176"
            ]
        ]
    },
    {
        "id": "be429ae2a002f13f",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 1000,
        "wires": [
            [
                "6b5289bdfa523c68"
            ]
        ]
    },
    {
        "id": "42bf59695cc61caa",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 1060,
        "wires": [
            [
                "88e2b9e6e33db3e2"
            ]
        ]
    },
    {
        "id": "0b418780b25125a0",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_04/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 1180,
        "wires": [
            [
                "5c3aa4fb17440358"
            ]
        ]
    },
    {
        "id": "8b2db7c255c7bc23",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 20,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 1490,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5c3aa4fb17440358",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 21,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "",
        "x": 1490,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5092e22689c50bfe",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71def4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "214b72df4c1d2e9c",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 22,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "25",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "36",
        "seg2": "38",
        "className": "",
        "x": 1480,
        "y": 820,
        "wires": []
    },
    {
        "id": "40cebdd2384c5f62",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 1390,
        "y": 940,
        "wires": []
    },
    {
        "id": "e68f3ef5b7b085c7",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 10,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 1390,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0ec1e522bd7698b2",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 18,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 1390,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6971b97ebfa1e176",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "d22a45b2307d6d71",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 1230,
        "y": 940,
        "wires": [
            [
                "40cebdd2384c5f62"
            ]
        ]
    },
    {
        "id": "6b5289bdfa523c68",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "d22a45b2307d6d71",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 1230,
        "y": 1000,
        "wires": [
            [
                "e68f3ef5b7b085c7"
            ]
        ]
    },
    {
        "id": "88e2b9e6e33db3e2",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "d22a45b2307d6d71",
        "order": 27,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 1230,
        "y": 1060,
        "wires": [
            [
                "0ec1e522bd7698b2"
            ]
        ]
    },
    {
        "id": "f62d4c7ae89ff44d",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_05",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4f92de5e6e9dbfb3",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1480,
        "wires": [
            [
                "f62d4c7ae89ff44d",
                "a5efaf8df9f60126"
            ]
        ]
    },
    {
        "id": "608223963f6b2537",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1540,
        "wires": [
            [
                "50a5a5ecb4d703b9"
            ]
        ]
    },
    {
        "id": "6f11f524ec1e5a93",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_05/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1780,
        "wires": [
            [
                "7ce69ef421c38022"
            ]
        ]
    },
    {
        "id": "381edb63149cf077",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1600,
        "wires": [
            [
                "976fe344c02598ad"
            ]
        ]
    },
    {
        "id": "b4cb46feeedcc0b7",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1660,
        "wires": [
            [
                "888afef17a48fab2"
            ]
        ]
    },
    {
        "id": "9c3b4b4005188b0e",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1720,
        "wires": [
            [
                "07e9b596b09c0fca"
            ]
        ]
    },
    {
        "id": "6d3b5680f8b42a70",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_05/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1840,
        "wires": [
            [
                "e201e48b302ba0ac"
            ]
        ]
    },
    {
        "id": "7ce69ef421c38022",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 20,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 630,
        "y": 1780,
        "wires": []
    },
    {
        "id": "e201e48b302ba0ac",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 21,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "",
        "x": 630,
        "y": 1840,
        "wires": []
    },
    {
        "id": "50a5a5ecb4d703b9",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71def4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "a5efaf8df9f60126",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 22,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "25",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "36",
        "seg2": "38",
        "className": "",
        "x": 620,
        "y": 1480,
        "wires": []
    },
    {
        "id": "64ce781b0a5d8676",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 1600,
        "wires": []
    },
    {
        "id": "d67c6c436dfa8048",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 10,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 1660,
        "wires": []
    },
    {
        "id": "a79716da73884a7a",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 18,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 1720,
        "wires": []
    },
    {
        "id": "976fe344c02598ad",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "25ead1c493d30de9",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1600,
        "wires": [
            [
                "64ce781b0a5d8676"
            ]
        ]
    },
    {
        "id": "888afef17a48fab2",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "25ead1c493d30de9",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1660,
        "wires": [
            [
                "d67c6c436dfa8048"
            ]
        ]
    },
    {
        "id": "07e9b596b09c0fca",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "25ead1c493d30de9",
        "order": 27,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "a79716da73884a7a"
            ]
        ]
    },
    {
        "id": "f3d008f0d6259c07",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_01/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "07b481c23de619ea"
            ]
        ]
    },
    {
        "id": "3f2550419b47392d",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_01/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "73292ce037ae2331"
            ]
        ]
    },
    {
        "id": "07b481c23de619ea",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "order": 11,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "73292ce037ae2331",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "order": 12,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "3a1e82e39646b610",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_01/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 640,
        "wires": [
            [
                "afb23f0d3bc6e863"
            ]
        ]
    },
    {
        "id": "e92f5decf7c702aa",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_01/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "7a2dbafc36e0158d"
            ]
        ]
    },
    {
        "id": "afb23f0d3bc6e863",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "order": 13,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 640,
        "wires": []
    },
    {
        "id": "7a2dbafc36e0158d",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "order": 14,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "5fb57911061e32a7",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_02/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1120,
        "y": 560,
        "wires": [
            [
                "566ebce451eca5ca"
            ]
        ]
    },
    {
        "id": "7112a906028a21ca",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_02/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 600,
        "wires": [
            [
                "2ea3de59c10f0acb"
            ]
        ]
    },
    {
        "id": "566ebce451eca5ca",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "7874dfd1b72253a8",
        "order": 29,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1420,
        "y": 560,
        "wires": []
    },
    {
        "id": "2ea3de59c10f0acb",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "7874dfd1b72253a8",
        "order": 30,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1430,
        "y": 600,
        "wires": []
    },
    {
        "id": "ab5789772778f543",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_02/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 640,
        "wires": [
            [
                "07d9584603c71720"
            ]
        ]
    },
    {
        "id": "4c47d542b483a8cd",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_02/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 680,
        "wires": [
            [
                "552aaaab27a0a41f"
            ]
        ]
    },
    {
        "id": "07d9584603c71720",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "7874dfd1b72253a8",
        "order": 31,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1420,
        "y": 640,
        "wires": []
    },
    {
        "id": "552aaaab27a0a41f",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "7874dfd1b72253a8",
        "order": 32,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1430,
        "y": 680,
        "wires": []
    },
    {
        "id": "2d45da4653d52d75",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_03/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "d3f7481aaf5a8a5b"
            ]
        ]
    },
    {
        "id": "ae0824bb3beb4daa",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_03/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1280,
        "wires": [
            [
                "9e108320e62bf250"
            ]
        ]
    },
    {
        "id": "d3f7481aaf5a8a5b",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "35e8f16e89639508",
        "order": 29,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9e108320e62bf250",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "35e8f16e89639508",
        "order": 30,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 1280,
        "wires": []
    },
    {
        "id": "0defa1b17549b238",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_03/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "475ae632d45c32d8"
            ]
        ]
    },
    {
        "id": "94a90f9f5535cfa3",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_03/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1360,
        "wires": [
            [
                "b806a3ee02bd25a0"
            ]
        ]
    },
    {
        "id": "475ae632d45c32d8",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "35e8f16e89639508",
        "order": 31,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b806a3ee02bd25a0",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "35e8f16e89639508",
        "order": 32,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 1360,
        "wires": []
    },
    {
        "id": "a6faefd1597bfcb8",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_04/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1120,
        "y": 1240,
        "wires": [
            [
                "bd8175aeba8e83d3"
            ]
        ]
    },
    {
        "id": "d4e8beab58d84c10",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_04/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 1280,
        "wires": [
            [
                "7359422e73e5717b"
            ]
        ]
    },
    {
        "id": "bd8175aeba8e83d3",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "d22a45b2307d6d71",
        "order": 29,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1420,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7359422e73e5717b",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "d22a45b2307d6d71",
        "order": 30,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1430,
        "y": 1280,
        "wires": []
    },
    {
        "id": "09d0887d208dc4fb",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_04/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 1320,
        "wires": [
            [
                "42bbab1484a51b62"
            ]
        ]
    },
    {
        "id": "6671be6a8df2ee64",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_04/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 1360,
        "wires": [
            [
                "e9376d6e5cd75060"
            ]
        ]
    },
    {
        "id": "42bbab1484a51b62",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "d22a45b2307d6d71",
        "order": 31,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1420,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e9376d6e5cd75060",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "d22a45b2307d6d71",
        "order": 32,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1430,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e89852d16548090d",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_05/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1900,
        "wires": [
            [
                "83ae8b09d68b9849"
            ]
        ]
    },
    {
        "id": "794a38ad850728f9",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_05/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1940,
        "wires": [
            [
                "edbc311893add2c2"
            ]
        ]
    },
    {
        "id": "83ae8b09d68b9849",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "25ead1c493d30de9",
        "order": 29,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 1900,
        "wires": []
    },
    {
        "id": "edbc311893add2c2",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "25ead1c493d30de9",
        "order": 30,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 1940,
        "wires": []
    },
    {
        "id": "66dac47cb09fd126",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_05/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1980,
        "wires": [
            [
                "83a2b58890324fab"
            ]
        ]
    },
    {
        "id": "5d86873a53244c56",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_05/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2020,
        "wires": [
            [
                "2738e65d33a27f2b"
            ]
        ]
    },
    {
        "id": "83a2b58890324fab",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "25ead1c493d30de9",
        "order": 31,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 560,
        "y": 1980,
        "wires": []
    },
    {
        "id": "2738e65d33a27f2b",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "25ead1c493d30de9",
        "order": 32,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 2020,
        "wires": []
    },
    {
        "id": "c1f138edb55ae7fc",
        "type": "ui_template",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "name": "Dashboard theme",
        "order": 15,
        "width": 29,
        "height": 1,
        "format": "<style>\n\nbody{\nbackground: rgb(0,0,0);\nbackground: linear-gradient(202deg, rgba(0,0,0,1) 0%, rgba(92,3,145,1) 25%, rgba(68,15,196,1) 51%, rgba(12,0,167,1) 75%,\nrgba(78,158,162,1) 100%);\n}\n\nbody.nr-dashboard-theme md-toolbar {\nbackground-color: black;\ncolor: black;\n}\n\n.nr-dashboard-theme ui-card-panel{\nborder-radius: 10px;\n}\n\nbody.nr-dashboard-theme md-sidenav {\ncolor: #71dfe4;\nbackground-color: rgb(69 69 69);\n}\n\nng-md-icon{\ncolor: black;\n}\n\n.md-toolbar-tools h1{\ncolor: black;\n}\n\n#equis{\nbackground-color: white;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1210,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "387a1752889dfc6b",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#a11df0",
            "#a4e5f2",
            "#71def4"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 940,
        "wires": []
    },
    {
        "id": "d86cf376143e4288",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#a11df0",
            "#a4e5f2",
            "#71def4"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 1000,
        "wires": []
    },
    {
        "id": "fb4d8fbda2a76f6c",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#a11df0",
            "#a4e5f2",
            "#71def4"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 1060,
        "wires": []
    },
    {
        "id": "29e8308b5e15e955",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#a11df0",
            "#a4e5f2",
            "#71def4"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "9680774a876af058",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#a11df0",
            "#a4e5f2",
            "#71def4"
        ],
        "seg1": "0",
        "seg2": "0",
        "className": "",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "a0c50659e377526b",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "55c6a3dc64f8c3af",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "7cdacb21fe6f4f7f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "153f4ed2561c5cf1",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "a421abc9b73b454d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "810baf0d89971a8a",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "13965dbc22070446",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "dabe3b21f417b9c0",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "438aafe6b4c7ab59",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e1b4866b2b3384a",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "b4292b4dba449285",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "a927d7d6e53f150e",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "834a772fd35bbb1d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "b9baffdfc0f21cc5",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 1,
        "width": 33,
        "height": 1
    },
    {
        "id": "02410f9170616ee8",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 3,
        "width": 25,
        "height": 1
    },
    {
        "id": "757bdb9dd35cae4b",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 4,
        "width": 25,
        "height": 1
    },
    {
        "id": "50bc5d92854ad91d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 5,
        "width": 25,
        "height": 1
    },
    {
        "id": "60cd24d6dbfea43a",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 6,
        "width": 25,
        "height": 1
    },
    {
        "id": "5b365fe5db1843db",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 7,
        "width": 25,
        "height": 1
    },
    {
        "id": "aab1748d9b4b8a41",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 8,
        "width": 25,
        "height": 1
    },
    {
        "id": "2abd7872110da914",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 9,
        "width": 25,
        "height": 1
    },
    {
        "id": "bfb7780d9e7624cf",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 10,
        "width": 33,
        "height": 1
    },
    {
        "id": "012e62f282fd3ad2",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 12,
        "width": 22,
        "height": 1
    },
    {
        "id": "cf77b3ac8787599f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 13,
        "width": 22,
        "height": 1
    },
    {
        "id": "1fd7bbfb5df6e963",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 14,
        "width": 22,
        "height": 1
    },
    {
        "id": "ab64738ae63bd693",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 15,
        "width": 22,
        "height": 1
    },
    {
        "id": "0b27bc98df9e2c1f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 16,
        "width": 22,
        "height": 1
    },
    {
        "id": "5d84e5e18432da3d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 17,
        "width": 22,
        "height": 1
    },
    {
        "id": "f1fafdf83f80ba0e",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 18,
        "width": 22,
        "height": 1
    },
    {
        "id": "cf16fc5a07396aea",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 19,
        "width": 33,
        "height": 1
    },
    {
        "id": "7454f5f06650a283",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 20,
        "width": 33,
        "height": 1
    },
    {
        "id": "753a47e91c7747b3",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 21,
        "width": 33,
        "height": 1
    },
    {
        "id": "085319d2f14e5f45",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 22,
        "width": 33,
        "height": 1
    },
    {
        "id": "30640a18ddbf586f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 23,
        "width": 33,
        "height": 1
    },
    {
        "id": "c5a17b845384e8c7",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 24,
        "width": 33,
        "height": 1
    },
    {
        "id": "4dfd5156eeea7769",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 25,
        "width": 33,
        "height": 1
    },
    {
        "id": "803b2e85296c2057",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 26,
        "width": 33,
        "height": 1
    },
    {
        "id": "a7470a282a750542",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 27,
        "width": 33,
        "height": 1
    },
    {
        "id": "df4e941a3ffd4626",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 28,
        "width": 33,
        "height": 1
    },
    {
        "id": "af215de98b47a7dc",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 29,
        "width": 33,
        "height": 1
    },
    {
        "id": "fc929dc630c3197c",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 30,
        "width": 33,
        "height": 1
    },
    {
        "id": "afe6c01e258463f1",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 31,
        "width": 33,
        "height": 1
    },
    {
        "id": "92b2a04432eb9e71",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 32,
        "width": 33,
        "height": 1
    },
    {
        "id": "af5ad46007491a07",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 33,
        "width": 33,
        "height": 1
    },
    {
        "id": "7a5b9bf938c8b452",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 34,
        "width": 33,
        "height": 1
    },
    {
        "id": "dc08d4824a5704fc",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 35,
        "width": 33,
        "height": 1
    },
    {
        "id": "78f4dc0e1dcba7b1",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 36,
        "width": 33,
        "height": 1
    },
    {
        "id": "edfc17e4063e8fc8",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 37,
        "width": 33,
        "height": 1
    },
    {
        "id": "3088117154a8a631",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 38,
        "width": 33,
        "height": 1
    },
    {
        "id": "62c5cf4ff5f1a606",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 39,
        "width": 33,
        "height": 1
    },
    {
        "id": "26c83c628c916bb8",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 40,
        "width": 33,
        "height": 1
    },
    {
        "id": "37e82373507d6832",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 41,
        "width": 33,
        "height": 1
    },
    {
        "id": "42c5c4507f9c7d19",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 42,
        "width": 33,
        "height": 1
    },
    {
        "id": "b3e4cd8ddc8e7f2b",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 43,
        "width": 33,
        "height": 1
    },
    {
        "id": "e36596466914c0b6",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 45,
        "width": 19,
        "height": 1
    },
    {
        "id": "e08a4ec47fb7801d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 46,
        "width": 19,
        "height": 1
    },
    {
        "id": "1328284461646bd7",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 48,
        "width": 19,
        "height": 1
    },
    {
        "id": "b20f5c546a4be15e",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 49,
        "width": 19,
        "height": 1
    },
    {
        "id": "e8342263dad22b6c",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 50,
        "width": 19,
        "height": 1
    },
    {
        "id": "2f6e22d4eedf2573",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 51,
        "width": 19,
        "height": 1
    },
    {
        "id": "559006f0b2a093a3",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 52,
        "width": 19,
        "height": 1
    },
    {
        "id": "d54d852fb0edfd11",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 53,
        "width": 19,
        "height": 1
    },
    {
        "id": "4cac4ef06a098136",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 55,
        "width": 27,
        "height": 1
    },
    {
        "id": "b6817ad9464575b2",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 56,
        "width": 27,
        "height": 1
    },
    {
        "id": "4b5ae99fe5338577",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 57,
        "width": 27,
        "height": 1
    },
    {
        "id": "80e7cabb31373df5",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 58,
        "width": 27,
        "height": 1
    },
    {
        "id": "869ae4893e733ea3",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 59,
        "width": 27,
        "height": 1
    },
    {
        "id": "a9d2d61447f207ae",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 62,
        "width": 27,
        "height": 1
    },
    {
        "id": "6878bb4e33db86f0",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 63,
        "width": 27,
        "height": 1
    },
    {
        "id": "d99c36e8bdc35ea5",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 64,
        "width": 27,
        "height": 1
    },
    {
        "id": "eeb1d480bacc792c",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 65,
        "width": 27,
        "height": 1
    },
    {
        "id": "e3901408e09c90b5",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 66,
        "width": 27,
        "height": 1
    },
    {
        "id": "7dee76ad5b291b69",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 68,
        "width": 27,
        "height": 1
    },
    {
        "id": "fa62bde34e5aec79",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 69,
        "width": 27,
        "height": 1
    },
    {
        "id": "64480f06b2cd3214",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 70,
        "width": 27,
        "height": 1
    },
    {
        "id": "f3370f613527db11",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 71,
        "width": 27,
        "height": 1
    },
    {
        "id": "ebadbed4696f7df6",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 72,
        "width": 27,
        "height": 1
    },
    {
        "id": "2af7fb91cd032ccc",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3054a5b8b3b279a",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "dff5fe20787d08df",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "88ec246fd7e4fbce",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "fbf10431cb30d29a",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "784c4c0664b6a553",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "175af6c06f15f18b",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "70af619c82496505",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "747cb6f42a9b2a3f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "a078e2a4471ded23",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "e445739d0f517bb4",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "9f453c633da7542d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "40d5d4a79c668268",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca20e17e416e4b33",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "2bd58e117d84bd21",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "c54cdf80d1ef0276",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "f653890cb5f478c1",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "0bab6308241b5f2d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "7874dfd1b72253a8",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "26d091fa86bd62ad",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "11f5793eb0a398ff",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "16c14d7ac8888a6e",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "cac1333164299c6f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "efe32a7588de65ca",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ff3c8231083d266",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d4f9fdda1a368e22",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "9acd1df99e3e8b23",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "e2419ec8ecc8e5af",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c9203f44c4d0ce6",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6f686fd366a9868",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "708a21382d2918f2",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "e588844637d533a2",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "84212eb3da508a17",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "a4d8f2f16f484d6d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "6767d1a293e30744",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "d8467f509aab250f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "71e1725f14f2164f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "35e8f16e89639508",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "e53466e6b16a55e8",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "77ed464df611ab63",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe5ea8066c962c23",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "14450672bb54ec20",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "99f81f618d370c0e",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "45b9239b96b32a16",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb52f5a2a58b2345",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "5914520d2d60c608",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "608b3f62d8eac124",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "82b3204a26eb1260",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "80f34eedb2600a8f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed5263ebfef13dfd",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "bc356a9183a60167",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "2b31d42afcf6f697",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "75295d71dbfdcd4d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "f0e9d6c89767b234",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "612c099d2e1aeb4d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "b770bfaae656f0ae",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "25ead1c493d30de9",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "fb2c6620ad6b6081",
        "type": "mqtt-broker",
        "name": "",
        "broker": "emqx@172.20.0.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f998175f7faa53f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "emqx@172.20.0.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f3c1e6a039430860",
        "type": "ui_group",
        "name": "Pico 1",
        "tab": "02f9fb6dffadec5c",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": false,
        "className": ".intro {   background-color: yellow; }"
    },
    {
        "id": "7874dfd1b72253a8",
        "type": "ui_group",
        "name": "Pico 2",
        "tab": "b4c058af73135193",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "35e8f16e89639508",
        "type": "ui_group",
        "name": "Pico 3",
        "tab": "d1711b3260642844",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d22a45b2307d6d71",
        "type": "ui_group",
        "name": "Pico 4",
        "tab": "0c3bf6af30cb3477",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "25ead1c493d30de9",
        "type": "ui_group",
        "name": "Pico 5",
        "tab": "6d243ad340705718",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "02f9fb6dffadec5c",
        "type": "ui_tab",
        "name": "Raspberry 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b4c058af73135193",
        "type": "ui_tab",
        "name": "Raspberry 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1711b3260642844",
        "type": "ui_tab",
        "name": "Raspberry 3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0c3bf6af30cb3477",
        "type": "ui_tab",
        "name": "Raspberry 4",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d243ad340705718",
        "type": "ui_tab",
        "name": "Raspberry 5",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]