Docker/dockerfiles/nodered/flows.json
[
    {
        "id": "ff64d5752f28abe6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a63e92e18d711f00",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_01",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "50d3d0820441a368",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "a63e92e18d711f00",
                "2ab0683f8b7ee75b"
            ]
        ]
    },
    {
        "id": "a8b130a56f42a9c3",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "32761a0aeb54a920"
            ]
        ]
    },
    {
        "id": "6c4d45941dc449b2",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_01/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "2e59e9594c0c4e35"
            ]
        ]
    },
    {
        "id": "a1c662e2ba605b5b",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "c2e05d515eeb1d34"
            ]
        ]
    },
    {
        "id": "ebf0f5cf0a2298f0",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "44ceb748237f8e48"
            ]
        ]
    },
    {
        "id": "2a61bb824870b272",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_01/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "245c0b43b909381a"
            ]
        ]
    },
    {
        "id": "6c0dfcdd40ca222a",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_01/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "a65dabe531d983ba"
            ]
        ]
    },
    {
        "id": "2e59e9594c0c4e35",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 7,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "32761a0aeb54a920",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71def4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c2e05d515eeb1d34",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "f3c1e6a039430860",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "3c2cca13756d5238"
            ]
        ]
    },
    {
        "id": "44ceb748237f8e48",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "f3c1e6a039430860",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "1d9397f5332d961a"
            ]
        ]
    },
    {
        "id": "245c0b43b909381a",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "f3c1e6a039430860",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "ffb7e0d2a2472039"
            ]
        ]
    },
    {
        "id": "f1dbe1d0f0e302e4",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 100,
        "wires": []
    },
    {
        "id": "195c60471f385704",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "f1dbe1d0f0e302e4",
                "4814ebc06515fa82"
            ]
        ]
    },
    {
        "id": "3125d1cf16ffbb96",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "89dd12ba76435523"
            ]
        ]
    },
    {
        "id": "a3df5dc7b2828bc0",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_02/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 440,
        "wires": [
            [
                "f00cd91c191e4585"
            ]
        ]
    },
    {
        "id": "aca9edaee260e6d0",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "17abb3182538febe"
            ]
        ]
    },
    {
        "id": "530deeb0b392ad5d",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "4ff51d2b615560d4"
            ]
        ]
    },
    {
        "id": "a74d9170f9b797bd",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_02/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "f12ca02a04329511"
            ]
        ]
    },
    {
        "id": "f6a6cd63b917d283",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_02/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 500,
        "wires": [
            [
                "0cd42a4b8a8572c5"
            ]
        ]
    },
    {
        "id": "89dd12ba76435523",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71def4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "17abb3182538febe",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "7874dfd1b72253a8",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 870,
        "y": 260,
        "wires": [
            [
                "569e29997108c06d"
            ]
        ]
    },
    {
        "id": "4ff51d2b615560d4",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "7874dfd1b72253a8",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 870,
        "y": 320,
        "wires": [
            [
                "caad9b4ef69df56c"
            ]
        ]
    },
    {
        "id": "f12ca02a04329511",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "7874dfd1b72253a8",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 870,
        "y": 380,
        "wires": [
            [
                "5529ea3bda557412"
            ]
        ]
    },
    {
        "id": "c7648e2c028dc6d9",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_03",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 780,
        "wires": []
    },
    {
        "id": "548f5c84ea65a76c",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 820,
        "wires": [
            [
                "c7648e2c028dc6d9",
                "cc26b8050e6b5153"
            ]
        ]
    },
    {
        "id": "51bdc5878e3e8632",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 880,
        "wires": [
            [
                "4302509f97918a02"
            ]
        ]
    },
    {
        "id": "51f5484669d796b1",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_03/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1120,
        "wires": [
            [
                "849482a0fb81d2b9"
            ]
        ]
    },
    {
        "id": "1ef95dd19a546acc",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 940,
        "wires": [
            [
                "738a96aa6859bed8"
            ]
        ]
    },
    {
        "id": "1339edc656d7d1e4",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "128104a11f857119"
            ]
        ]
    },
    {
        "id": "7480a05057564cd6",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_03/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "1e86a8aeeeea7877"
            ]
        ]
    },
    {
        "id": "f36bd7223f0a497a",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_03/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "b260212c918ff7f4"
            ]
        ]
    },
    {
        "id": "4302509f97918a02",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71dfe4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "738a96aa6859bed8",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "35e8f16e89639508",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 940,
        "wires": [
            [
                "e0f748e52cae3a70"
            ]
        ]
    },
    {
        "id": "128104a11f857119",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "35e8f16e89639508",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1000,
        "wires": [
            [
                "24737727f128c9ae"
            ]
        ]
    },
    {
        "id": "1e86a8aeeeea7877",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "35e8f16e89639508",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "5a57bee46f5394f8"
            ]
        ]
    },
    {
        "id": "68a1f07bd586b20d",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_04",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 780,
        "wires": []
    },
    {
        "id": "c03c51e37b7f183d",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 820,
        "wires": [
            [
                "68a1f07bd586b20d",
                "abda18f6daceccc4"
            ]
        ]
    },
    {
        "id": "9a3d6fcef68ec923",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 880,
        "wires": [
            [
                "5092e22689c50bfe"
            ]
        ]
    },
    {
        "id": "e6f5ee2cf9286845",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_04/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 1120,
        "wires": [
            [
                "e0b988349091e548"
            ]
        ]
    },
    {
        "id": "f64e50ca00e6b8fb",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 940,
        "wires": [
            [
                "6971b97ebfa1e176"
            ]
        ]
    },
    {
        "id": "be429ae2a002f13f",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 1000,
        "wires": [
            [
                "6b5289bdfa523c68"
            ]
        ]
    },
    {
        "id": "42bf59695cc61caa",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_04/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 1060,
        "wires": [
            [
                "88e2b9e6e33db3e2"
            ]
        ]
    },
    {
        "id": "0b418780b25125a0",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_04/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 1180,
        "wires": [
            [
                "2f5aaf6d8b56164c"
            ]
        ]
    },
    {
        "id": "5092e22689c50bfe",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71def4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "6971b97ebfa1e176",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "d22a45b2307d6d71",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 850,
        "y": 940,
        "wires": [
            [
                "a5fb363b152adbfc"
            ]
        ]
    },
    {
        "id": "6b5289bdfa523c68",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "d22a45b2307d6d71",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "168debbf5c98cafb"
            ]
        ]
    },
    {
        "id": "88e2b9e6e33db3e2",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "d22a45b2307d6d71",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 850,
        "y": 1060,
        "wires": [
            [
                "84577cfbef92b2c6"
            ]
        ]
    },
    {
        "id": "f62d4c7ae89ff44d",
        "type": "debug",
        "z": "ff64d5752f28abe6",
        "name": "Dev_05",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4f92de5e6e9dbfb3",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1480,
        "wires": [
            [
                "f62d4c7ae89ff44d",
                "cd0d908af0721c40"
            ]
        ]
    },
    {
        "id": "608223963f6b2537",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Pulse Signal",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Pulse_Signal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1540,
        "wires": [
            [
                "50a5a5ecb4d703b9"
            ]
        ]
    },
    {
        "id": "6f11f524ec1e5a93",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MCU",
        "topic": "Pico/iot_med_dev_05/Internal_Device_Data/Temperature/MCU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1780,
        "wires": [
            [
                "22cf59f343b62aa3"
            ]
        ]
    },
    {
        "id": "381edb63149cf077",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel x",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Accelerometer/x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1600,
        "wires": [
            [
                "976fe344c02598ad"
            ]
        ]
    },
    {
        "id": "b4cb46feeedcc0b7",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel y",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Accelerometer/y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1660,
        "wires": [
            [
                "888afef17a48fab2"
            ]
        ]
    },
    {
        "id": "9c3b4b4005188b0e",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Accel z",
        "topic": "Pico/iot_med_dev_05/Physiological_Data/Accelerometer/z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f998175f7faa53f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1720,
        "wires": [
            [
                "07e9b596b09c0fca"
            ]
        ]
    },
    {
        "id": "6d3b5680f8b42a70",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Temperature MPU",
        "topic": "Pico/iot_med_dev_05/Internal_Device_Data/Temperature/MPU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1840,
        "wires": [
            [
                "704cc0338198b1a3"
            ]
        ]
    },
    {
        "id": "50a5a5ecb4d703b9",
        "type": "ui_chart",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 1,
        "width": 23,
        "height": 13,
        "label": "Pulse signal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#71def4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e31616",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "976fe344c02598ad",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "X",
        "tooltip": "",
        "group": "25ead1c493d30de9",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1600,
        "wires": [
            [
                "2f42976a668249dc"
            ]
        ]
    },
    {
        "id": "888afef17a48fab2",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Y",
        "tooltip": "",
        "group": "25ead1c493d30de9",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1660,
        "wires": [
            [
                "060baa5841855b21"
            ]
        ]
    },
    {
        "id": "07e9b596b09c0fca",
        "type": "ui_slider",
        "z": "ff64d5752f28abe6",
        "name": "",
        "label": "Z",
        "tooltip": "",
        "group": "25ead1c493d30de9",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-1",
        "max": "1",
        "step": "0.001",
        "className": "",
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "93a2acc1e35aeeb7"
            ]
        ]
    },
    {
        "id": "f3d008f0d6259c07",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_01/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "07b481c23de619ea"
            ]
        ]
    },
    {
        "id": "3f2550419b47392d",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_01/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "73292ce037ae2331"
            ]
        ]
    },
    {
        "id": "07b481c23de619ea",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "order": 11,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "73292ce037ae2331",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "order": 12,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 600,
        "wires": []
    },
    {
        "id": "3a1e82e39646b610",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_01/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 640,
        "wires": [
            [
                "afb23f0d3bc6e863"
            ]
        ]
    },
    {
        "id": "e92f5decf7c702aa",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_01/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "7a2dbafc36e0158d"
            ]
        ]
    },
    {
        "id": "afb23f0d3bc6e863",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "order": 13,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 640,
        "wires": []
    },
    {
        "id": "7a2dbafc36e0158d",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "order": 14,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 680,
        "wires": []
    },
    {
        "id": "5fb57911061e32a7",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_02/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 560,
        "wires": [
            [
                "566ebce451eca5ca"
            ]
        ]
    },
    {
        "id": "7112a906028a21ca",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_02/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 600,
        "wires": [
            [
                "2ea3de59c10f0acb"
            ]
        ]
    },
    {
        "id": "566ebce451eca5ca",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "7874dfd1b72253a8",
        "order": 11,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1020,
        "y": 560,
        "wires": []
    },
    {
        "id": "2ea3de59c10f0acb",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "7874dfd1b72253a8",
        "order": 12,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1010,
        "y": 600,
        "wires": []
    },
    {
        "id": "ab5789772778f543",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_02/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 640,
        "wires": [
            [
                "07d9584603c71720"
            ]
        ]
    },
    {
        "id": "4c47d542b483a8cd",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_02/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 680,
        "wires": [
            [
                "552aaaab27a0a41f"
            ]
        ]
    },
    {
        "id": "07d9584603c71720",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "7874dfd1b72253a8",
        "order": 13,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1020,
        "y": 640,
        "wires": []
    },
    {
        "id": "552aaaab27a0a41f",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "7874dfd1b72253a8",
        "order": 14,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1010,
        "y": 680,
        "wires": []
    },
    {
        "id": "2d45da4653d52d75",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_03/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "d3f7481aaf5a8a5b"
            ]
        ]
    },
    {
        "id": "ae0824bb3beb4daa",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_03/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1280,
        "wires": [
            [
                "9e108320e62bf250"
            ]
        ]
    },
    {
        "id": "d3f7481aaf5a8a5b",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "35e8f16e89639508",
        "order": 11,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9e108320e62bf250",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "35e8f16e89639508",
        "order": 12,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 1280,
        "wires": []
    },
    {
        "id": "0defa1b17549b238",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_03/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "475ae632d45c32d8"
            ]
        ]
    },
    {
        "id": "94a90f9f5535cfa3",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_03/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1360,
        "wires": [
            [
                "b806a3ee02bd25a0"
            ]
        ]
    },
    {
        "id": "475ae632d45c32d8",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "35e8f16e89639508",
        "order": 13,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b806a3ee02bd25a0",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "35e8f16e89639508",
        "order": 14,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 1360,
        "wires": []
    },
    {
        "id": "a6faefd1597bfcb8",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_04/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 1240,
        "wires": [
            [
                "bd8175aeba8e83d3"
            ]
        ]
    },
    {
        "id": "d4e8beab58d84c10",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_04/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 1280,
        "wires": [
            [
                "7359422e73e5717b"
            ]
        ]
    },
    {
        "id": "bd8175aeba8e83d3",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "d22a45b2307d6d71",
        "order": 11,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1000,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7359422e73e5717b",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "d22a45b2307d6d71",
        "order": 12,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 990,
        "y": 1280,
        "wires": []
    },
    {
        "id": "09d0887d208dc4fb",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_04/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 1320,
        "wires": [
            [
                "42bbab1484a51b62"
            ]
        ]
    },
    {
        "id": "6671be6a8df2ee64",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_04/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 1360,
        "wires": [
            [
                "e9376d6e5cd75060"
            ]
        ]
    },
    {
        "id": "42bbab1484a51b62",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "d22a45b2307d6d71",
        "order": 13,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1000,
        "y": 1320,
        "wires": []
    },
    {
        "id": "e9376d6e5cd75060",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "d22a45b2307d6d71",
        "order": 14,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 990,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e89852d16548090d",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Inter Serv Ip Address",
        "topic": "Pico/iot_med_dev_05/Internal_Server/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 1900,
        "wires": [
            [
                "83ae8b09d68b9849"
            ]
        ]
    },
    {
        "id": "794a38ad850728f9",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_05/Internal_Server/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1940,
        "wires": [
            [
                "edbc311893add2c2"
            ]
        ]
    },
    {
        "id": "83ae8b09d68b9849",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "25ead1c493d30de9",
        "order": 11,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "Server Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 1900,
        "wires": []
    },
    {
        "id": "edbc311893add2c2",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "25ead1c493d30de9",
        "order": 12,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Server Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 1940,
        "wires": []
    },
    {
        "id": "66dac47cb09fd126",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Device Ip Address",
        "topic": "Pico/iot_med_dev_05/Ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1980,
        "wires": [
            [
                "83a2b58890324fab"
            ]
        ]
    },
    {
        "id": "5d86873a53244c56",
        "type": "mqtt in",
        "z": "ff64d5752f28abe6",
        "name": "Intern Serv Port Address",
        "topic": "Pico/iot_med_dev_05/Port_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb2c6620ad6b6081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 2020,
        "wires": [
            [
                "2738e65d33a27f2b"
            ]
        ]
    },
    {
        "id": "83a2b58890324fab",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "25ead1c493d30de9",
        "order": 13,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Ip",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 1980,
        "wires": []
    },
    {
        "id": "2738e65d33a27f2b",
        "type": "ui_text",
        "z": "ff64d5752f28abe6",
        "group": "25ead1c493d30de9",
        "order": 14,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Device Port",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 2020,
        "wires": []
    },
    {
        "id": "c1f138edb55ae7fc",
        "type": "ui_template",
        "z": "ff64d5752f28abe6",
        "group": "f3c1e6a039430860",
        "name": "Dashboard theme",
        "order": 15,
        "width": 29,
        "height": 1,
        "format": "<style>\n\nbody{\nbackground: rgb(0,42,200);\nbackground: radial-gradient(circle, rgba(0,42,200,1) 0%, rgba(0,45,143,1) 25%, rgba(0,25,82,1) 56%, rgba(0,0,0,1) 100%);\n}\n\nbody.nr-dashboard-theme md-toolbar {\nbackground-color: black;\ncolor: black;\n}\n\n.nr-dashboard-theme ui-card-panel{\nborder-radius: 10px;\n}\n\nbody.nr-dashboard-theme md-sidenav {\ncolor: #71dfe4;\nbackground-color: rgb(69 69 69);\n}\n\nng-md-icon{\ncolor: black;\n}\n\n.md-toolbar-tools h1{\ncolor: black;\n}\n\n#equis{\nbackground-color: white;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 950,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "569e29997108c06d",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "caad9b4ef69df56c",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "5529ea3bda557412",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "3c2cca13756d5238",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "1d9397f5332d961a",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "ffb7e0d2a2472039",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "a65dabe531d983ba",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 8,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "2ab0683f8b7ee75b",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "f3c1e6a039430860",
        "order": 9,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "30",
        "max": "50",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "37",
        "seg2": "38",
        "className": "temp",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "4814ebc06515fa82",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 9,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "30",
        "max": "45",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "37",
        "seg2": "38",
        "className": "temp",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "f00cd91c191e4585",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 7,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "0cd42a4b8a8572c5",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "7874dfd1b72253a8",
        "order": 8,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "cc26b8050e6b5153",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 9,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "30",
        "max": "45",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "37",
        "seg2": "38",
        "className": "temp",
        "x": 480,
        "y": 820,
        "wires": []
    },
    {
        "id": "e0f748e52cae3a70",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 940,
        "wires": []
    },
    {
        "id": "24737727f128c9ae",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5a57bee46f5394f8",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 1060,
        "wires": []
    },
    {
        "id": "849482a0fb81d2b9",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 7,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 490,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b260212c918ff7f4",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "35e8f16e89639508",
        "order": 8,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 490,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e0b988349091e548",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 7,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 970,
        "y": 1120,
        "wires": []
    },
    {
        "id": "2f5aaf6d8b56164c",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 8,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 970,
        "y": 1180,
        "wires": []
    },
    {
        "id": "abda18f6daceccc4",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 9,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "30",
        "max": "45",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "37",
        "seg2": "38",
        "className": "temp",
        "x": 960,
        "y": 820,
        "wires": []
    },
    {
        "id": "a5fb363b152adbfc",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 1010,
        "y": 940,
        "wires": []
    },
    {
        "id": "168debbf5c98cafb",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 1010,
        "y": 1000,
        "wires": []
    },
    {
        "id": "84577cfbef92b2c6",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "d22a45b2307d6d71",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 1010,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cd0d908af0721c40",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 9,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Patient Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": "30",
        "max": "45",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "37",
        "seg2": "38",
        "className": "temp",
        "x": 480,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2f42976a668249dc",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 1600,
        "wires": []
    },
    {
        "id": "060baa5841855b21",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 1660,
        "wires": []
    },
    {
        "id": "93a2acc1e35aeeb7",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "donut",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "colors": [
            "#004cff",
            "#00affa",
            "#71def4"
        ],
        "seg1": "-0.33",
        "seg2": "0.33",
        "className": "",
        "x": 530,
        "y": 1720,
        "wires": []
    },
    {
        "id": "22cf59f343b62aa3",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 7,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MCU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 490,
        "y": 1780,
        "wires": []
    },
    {
        "id": "704cc0338198b1a3",
        "type": "ui_gauge",
        "z": "ff64d5752f28abe6",
        "name": "",
        "group": "25ead1c493d30de9",
        "order": 8,
        "width": 9,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature MPU",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00f500",
            "#fbff29",
            "#ff0000"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "temp",
        "x": 490,
        "y": 1840,
        "wires": []
    },
    {
        "id": "55c6a3dc64f8c3af",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "7cdacb21fe6f4f7f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "153f4ed2561c5cf1",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "a421abc9b73b454d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "810baf0d89971a8a",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "13965dbc22070446",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "dabe3b21f417b9c0",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "438aafe6b4c7ab59",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e1b4866b2b3384a",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "b4292b4dba449285",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "a927d7d6e53f150e",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "834a772fd35bbb1d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "4f29991b7a5bd322",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "b9baffdfc0f21cc5",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 1,
        "width": 33,
        "height": 1
    },
    {
        "id": "02410f9170616ee8",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 3,
        "width": 25,
        "height": 1
    },
    {
        "id": "757bdb9dd35cae4b",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 4,
        "width": 25,
        "height": 1
    },
    {
        "id": "50bc5d92854ad91d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 5,
        "width": 25,
        "height": 1
    },
    {
        "id": "60cd24d6dbfea43a",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 6,
        "width": 25,
        "height": 1
    },
    {
        "id": "5b365fe5db1843db",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 7,
        "width": 25,
        "height": 1
    },
    {
        "id": "aab1748d9b4b8a41",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 8,
        "width": 25,
        "height": 1
    },
    {
        "id": "2abd7872110da914",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 9,
        "width": 25,
        "height": 1
    },
    {
        "id": "bfb7780d9e7624cf",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 10,
        "width": 33,
        "height": 1
    },
    {
        "id": "012e62f282fd3ad2",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 12,
        "width": 22,
        "height": 1
    },
    {
        "id": "cf77b3ac8787599f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 13,
        "width": 22,
        "height": 1
    },
    {
        "id": "1fd7bbfb5df6e963",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 14,
        "width": 22,
        "height": 1
    },
    {
        "id": "ab64738ae63bd693",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 15,
        "width": 22,
        "height": 1
    },
    {
        "id": "0b27bc98df9e2c1f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 16,
        "width": 22,
        "height": 1
    },
    {
        "id": "5d84e5e18432da3d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 17,
        "width": 22,
        "height": 1
    },
    {
        "id": "f1fafdf83f80ba0e",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 18,
        "width": 22,
        "height": 1
    },
    {
        "id": "cf16fc5a07396aea",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 19,
        "width": 33,
        "height": 1
    },
    {
        "id": "7454f5f06650a283",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 20,
        "width": 33,
        "height": 1
    },
    {
        "id": "753a47e91c7747b3",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 21,
        "width": 33,
        "height": 1
    },
    {
        "id": "085319d2f14e5f45",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 22,
        "width": 33,
        "height": 1
    },
    {
        "id": "30640a18ddbf586f",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 23,
        "width": 33,
        "height": 1
    },
    {
        "id": "c5a17b845384e8c7",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 24,
        "width": 33,
        "height": 1
    },
    {
        "id": "4dfd5156eeea7769",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 25,
        "width": 33,
        "height": 1
    },
    {
        "id": "803b2e85296c2057",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 26,
        "width": 33,
        "height": 1
    },
    {
        "id": "a7470a282a750542",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 27,
        "width": 33,
        "height": 1
    },
    {
        "id": "df4e941a3ffd4626",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 28,
        "width": 33,
        "height": 1
    },
    {
        "id": "af215de98b47a7dc",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 29,
        "width": 33,
        "height": 1
    },
    {
        "id": "fc929dc630c3197c",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 30,
        "width": 33,
        "height": 1
    },
    {
        "id": "afe6c01e258463f1",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 31,
        "width": 33,
        "height": 1
    },
    {
        "id": "92b2a04432eb9e71",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 32,
        "width": 33,
        "height": 1
    },
    {
        "id": "af5ad46007491a07",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 33,
        "width": 33,
        "height": 1
    },
    {
        "id": "7a5b9bf938c8b452",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 34,
        "width": 33,
        "height": 1
    },
    {
        "id": "dc08d4824a5704fc",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 35,
        "width": 33,
        "height": 1
    },
    {
        "id": "78f4dc0e1dcba7b1",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 36,
        "width": 33,
        "height": 1
    },
    {
        "id": "edfc17e4063e8fc8",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 37,
        "width": 33,
        "height": 1
    },
    {
        "id": "3088117154a8a631",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 38,
        "width": 33,
        "height": 1
    },
    {
        "id": "62c5cf4ff5f1a606",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 39,
        "width": 33,
        "height": 1
    },
    {
        "id": "26c83c628c916bb8",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 40,
        "width": 33,
        "height": 1
    },
    {
        "id": "37e82373507d6832",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 41,
        "width": 33,
        "height": 1
    },
    {
        "id": "42c5c4507f9c7d19",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 42,
        "width": 33,
        "height": 1
    },
    {
        "id": "b3e4cd8ddc8e7f2b",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 43,
        "width": 33,
        "height": 1
    },
    {
        "id": "e36596466914c0b6",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 45,
        "width": 19,
        "height": 1
    },
    {
        "id": "e08a4ec47fb7801d",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 46,
        "width": 19,
        "height": 1
    },
    {
        "id": "1328284461646bd7",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 48,
        "width": 19,
        "height": 1
    },
    {
        "id": "b20f5c546a4be15e",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 49,
        "width": 19,
        "height": 1
    },
    {
        "id": "e8342263dad22b6c",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 50,
        "width": 19,
        "height": 1
    },
    {
        "id": "2f6e22d4eedf2573",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 51,
        "width": 19,
        "height": 1
    },
    {
        "id": "559006f0b2a093a3",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 52,
        "width": 19,
        "height": 1
    },
    {
        "id": "d54d852fb0edfd11",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 53,
        "width": 19,
        "height": 1
    },
    {
        "id": "4cac4ef06a098136",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 55,
        "width": 27,
        "height": 1
    },
    {
        "id": "b6817ad9464575b2",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 56,
        "width": 27,
        "height": 1
    },
    {
        "id": "4b5ae99fe5338577",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 57,
        "width": 27,
        "height": 1
    },
    {
        "id": "80e7cabb31373df5",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 58,
        "width": 27,
        "height": 1
    },
    {
        "id": "869ae4893e733ea3",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 59,
        "width": 27,
        "height": 1
    },
    {
        "id": "a9d2d61447f207ae",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 62,
        "width": 27,
        "height": 1
    },
    {
        "id": "6878bb4e33db86f0",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 63,
        "width": 27,
        "height": 1
    },
    {
        "id": "d99c36e8bdc35ea5",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 64,
        "width": 27,
        "height": 1
    },
    {
        "id": "eeb1d480bacc792c",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 65,
        "width": 27,
        "height": 1
    },
    {
        "id": "e3901408e09c90b5",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 66,
        "width": 27,
        "height": 1
    },
    {
        "id": "7dee76ad5b291b69",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 68,
        "width": 27,
        "height": 1
    },
    {
        "id": "fa62bde34e5aec79",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 69,
        "width": 27,
        "height": 1
    },
    {
        "id": "64480f06b2cd3214",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 70,
        "width": 27,
        "height": 1
    },
    {
        "id": "f3370f613527db11",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 71,
        "width": 27,
        "height": 1
    },
    {
        "id": "ebadbed4696f7df6",
        "type": "ui_spacer",
        "z": "ff64d5752f28abe6",
        "name": "spacer",
        "group": "ef57d5330c6fecd8",
        "order": 72,
        "width": 27,
        "height": 1
    },
    {
        "id": "fb2c6620ad6b6081",
        "type": "mqtt-broker",
        "name": "",
        "broker": "emqx@172.20.0.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f998175f7faa53f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "emqx@172.20.0.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f3c1e6a039430860",
        "type": "ui_group",
        "name": "Pico 1",
        "tab": "02f9fb6dffadec5c",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": false,
        "className": ".intro {   background-color: yellow; }"
    },
    {
        "id": "7874dfd1b72253a8",
        "type": "ui_group",
        "name": "Pico 2",
        "tab": "b4c058af73135193",
        "order": 2,
        "disp": true,
        "width": 29,
        "collapse": false,
        "className": ""
    },
    {
        "id": "35e8f16e89639508",
        "type": "ui_group",
        "name": "Pico 3",
        "tab": "d1711b3260642844",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d22a45b2307d6d71",
        "type": "ui_group",
        "name": "Pico 4",
        "tab": "0c3bf6af30cb3477",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": false,
        "className": ""
    },
    {
        "id": "25ead1c493d30de9",
        "type": "ui_group",
        "name": "Pico 5",
        "tab": "6d243ad340705718",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": false,
        "className": ""
    },
    {
        "id": "02f9fb6dffadec5c",
        "type": "ui_tab",
        "name": "Raspberry 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b4c058af73135193",
        "type": "ui_tab",
        "name": "Raspberry 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1711b3260642844",
        "type": "ui_tab",
        "name": "Raspberry 3",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0c3bf6af30cb3477",
        "type": "ui_tab",
        "name": "Raspberry 4",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d243ad340705718",
        "type": "ui_tab",
        "name": "Raspberry 5",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]